.mail-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.home {
  margin-left: 10px;
}
